################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/venv_fastapi
/.vs
/__pycache__
/services/__pycache__
/models/__pycache__
